@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
* {
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body {
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    background-color: #22223B;
    filter: drop-shadow(0px 5px 10px #4A4E69);
}

.logo {
    border: orange 1px solid;
    align-content: center;
}

.logo p {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-family: 'Bonheur Royale', cursive;
    font-size: 1.5em;
    margin: 0.5em;
    font-weight: 600;
}

.toggle-menu {
    position: absolute;
    top: 0.75em;
    right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 30px;
    height: 21px;
}

.toggle-menu .burger-bar {
    height: 3px;
    /* width: 100%; */
    background-color: white;
    border-radius: 15px;
}

.normal-navbar {
    height: 100%;
}

.normal-navbar ul {
    list-style: none;
    display: none;
    padding: 0;
    margin: 0;
}

.normal-navbar ul li {
    /* border: orange 1px solid; */
}

.normal-navbar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1.1em;
    height: 100%;
}

.normal-navbar ul li a:hover {
    background-color: #4A4E69;
}

.normal-navbar.active {
    display: flex;
}

.bg-img {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
    flex-direction: column;
}

.bg-img1 h3, p {
    padding: 5px;
    margin: 0;
    color: white;
    filter: blur(0px) brightness(100%);
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

.bg-img1 {
    background-image: url("https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1171&q=80");
    /* opacity: 0.95; */
    filter: /*blur(2px)*/
    brightness(50%);
    height: 30em;
}

@media all and (min-width: 481x) and (max-width: 768px) {
    /* For Tablet: */
}

@media all and (min-width: 769px) {
    /* For desktop: */
    .normal-navbar ul {
        display: flex;
    }
    .burger-menu {
        display: none;
    }
}