@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
* {
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body {
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #22223B;
    color: #fff;
    filter: drop-shadow(0px 5px 10px #4A4E69);
}

.logo {
    align-content: center;
    font-size: 1.5em;
    margin: 0.5em;
    border: 1px solid brown;
    border-radius: 12px;
    /* position: absolute; */
}

.logo p {
    display: inline;
    margin: 0;
    padding: 0;
    font-family: 'Bonheur Royale', cursive;
    font-weight: 600;
}

.toggle-menu {
    position: absolute;
    top: 1em;
    right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 30px;
    height: 21px;
}

.toggle-menu .burger-bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 15px;
}

.normal-navbar {
    height: 100%;
}

.normal-navbar ul {
    list-style: none;
    display: none;
    padding: 0;
    margin: 0;
}

.normal-navbar ul li {
    /* border: orange 1px solid; */
}

.normal-navbar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1.1em;
    height: 100%;
}

.normal-navbar ul li a:hover {
    background-color: #4A4E69;
}

.normal-navbar.active {
    display: flex;
}

.bg-img {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 26.5em;
    position: relative;
    /* height: 50px; */
    /* height: 50px; */
    /* position: relative; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.bg-text {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    /* top: 50%;
    left: 50%; */
    top: 30%;
    left: 50%;
    transform: translate(-50%, -20%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.bg-text p, h3 {
    /* padding: 0px;
    margin: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    transform: translateY(-15em);
    text-align: center; */
}

.bg-img1 {
    border: violet 1px solid;
    padding: 50px;
    background-image: url("https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1171&q=80");
    /* background-image: url("https://avatars.githubusercontent.com/u/90200717?s=400&u=cf768bde5ddf2350aa9caed35d025c51008f33c7&v=4"); */
    /* background-image: url("https://i.pinimg.com/originals/cf/bf/7f/cfbf7ffd6dde7b4bd4be383b4f1eb638.jpg"); */
    /* opacity: 0.95; */
    /* filter: blur(2px) brightness(50%); */
    /* height: 30em; */
}

.bg-img2 {
    border: violet 1px solid;
    padding: 50px;
    background-image: url(../assets/bg1.jpg);
}

/*about me*/

#about-me {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #eaeff8;
}

#about-me img {
    padding: 0;
    margin: 0;
    margin-top: 1em;
    /* align-self: flex-end; */
    width: 50%;
    border-radius: 10px;
    border: 10px solid #4A4E69;
    /* margin-left: 1em; */
}

/**/

section {
    position: relative;
    min-height: 26.5em;
}

.next-section {
    position: absolute;
    /* border: yellow 1px solid; */
    left: 1.5%;
    /* bottom: 2%; */
    bottom: 0%;
    background-color: inherit;
}

.next-section i {
    border-radius: 10px;
    color: #fff;
    font-size: 2em;
    padding: 2px;
    background-color: #22223B;
}

.next-section i:hover {
    color: #B9B4AB;
}

/*services*/

#services {
    background-color: #F2E9E4;
}

.services-container {
    border: tomato 1px solid;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.card {
    border: red 1px solid;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #797572;
    text-align: center;
    border-radius: 10px;
    margin: 1em 0em;
    width: 100%;
    height: auto;
    padding: 3em 1.5em;
}

.card i {
    width: 100%;
}

@media all and (min-width: 481x) and (max-width: 768px) {
    /* For Tablet: */
}

@media all and (min-width: 769px) {
    /* For desktop: */
    .normal-navbar ul {
        display: flex;
    }
    .burger-menu {
        display: none;
    }
    .bg-text {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        padding: 20px;
    }
}